<% if !defined?(registro) %>
  <% registro = @registro %>
<% end %>

<div class='enctabla'>
  <%= ::Contexto.human_attribute_name(:listadocasos) %>
</div>
<div class="overflow-auto" style='height: 8em'>
  <%= render partial: 'tabla_casos', 
    locals: {registro: registro} %>
</div>
