<% if !defined?(registro) %>
  <% registro = @registro %>
<% end %>

<div class='enctabla'>
  <%= ::Contexto.human_attribute_name(:listadoaccioneso) %>
</div>
<div class="overflow-auto" style='height: 8em'>
  <%= render partial: 'tabla_accioneso', 
    locals: {registro: registro}
  %>
</div>
