<%= render partial: 'msip/modelos/msip_campo_aut',
  locals: {f: f, atr: :nombre} %>
<%= render partial: 'msip/modelos/msip_campo_aut',
  locals: {f: f, atr: :fecha_localizada} %>
<%= render partial: 'cor1440_gen/actividades/campo_orgsocial',
  locals: {f: f} %>
<%= render partial: 'cor1440_gen/actividades/campo_responsable',
  locals: {f: f} %>
<%= render partial: 'cor1440_gen/actividades/campo_corresponsables',
  locals: {f: f} %>


