

<%= render partial: 'msip/modelos/msip_campo_aut',
  locals: {f: f, atr: 'objetivo'} %>
<%= render partial: 'msip/modelos/msip_campo_aut',
  locals: {f: f, atr: 'resultado'} %>
<%= render partial: 'cor1440_gen/actividades/campo_listadoasistencia',
  locals: {f: f} %>
<%= render partial: 'cor1440_gen/actividades/campo_poblacion',
  locals: {f: f} %>
