<% if !defined?(registro) %>
  <% registro = @registro %>
<% end %>

<div class='enctabla'>
  <%= ::Coyonturaregional.human_attribute_name(:listadoorgint) %>
</div>
<div class="overflow-auto" style='height: 8em'>
  <%= render partial: 'tabla_orgsocial', 
    locals: {registro: registro, tipoorg: Sip::Tipoorg::ORGINT} %>
</div>
