<% if !defined?(registro) %>
  <% registro = @registro %>
<% end %>

<div class='enctabla'>
  <%= ::Coyonturaregional.human_attribute_name(:listadoacciones) %>
</div>
<div class="overflow-auto" style='height: 8em'>
  <%= render partial: 'tabla_acciones', 
    locals: {registro: registro}
  %>
</div>
