<% cuenta = 0 %>
<% if !defined?(registro) %>
  <% registro = @registro %>
<% end %>

<% if registro.region %>
  <% os = Msip::Orgsocial.where(
    'region_de_orgsocial(id)=?', 
    registro.region_id).where(tipoorg_id: Msip::Tipoorg::ORGACOMP) %>
  <% oos = Msip::Orgsocial.where(
    'region_de_orgsocial(id)=?', 
    registro.region_id).where(tipoorg_id: Msip::Tipoorg::ORGNOACOMP) %>
  <% cuenta = os.count + oos.count %>
<% end %>
<%= cuenta %>
