<% estmostrar = 'display: none' %>
<% if f.object.tipoorg_id == 1 || f.object.tipoorg_id == 2 %>
  <% estmostrar = '' %>
<% end %>
<%= render partial: 'msip/modelos/msip_campo_aut', 
  locals: {f: f, atr: :redyalianza, 
           htmlexterno: {class: 'estorganizacion', style: estmostrar} 
  } %>
